<form style="margin-top: 50px">
  <h3>Modifier un contact</h3>
  <hr>
  <div style="display: inline-flex">
  {{input value=model.editedContact.nom placeholder="Nom" class="form-control btnAdd"}}
  {{input value=model.editedContact.prenom placeholder="Prénom" class="form-control btnAdd"}}
  {{input value=model.editedContact.email placeholder="Email" class="form-control btnAdd"}}
  {{#link-to "contacts"}}
  <button {{action "edit" model}} class="btn btn-success ajoutBtn">
    Valider
  </button>
    <button  class="btn btn-danger ajoutBtn">
      Annuler
    </button>
{{/link-to}}
  </div>
</form>

{{outlet}}