{{#link-to "developers.new" class="ui button"}}
  Ajouter un développeur...
{{/link-to}}
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Identity</th>
    <th scope="col" class="text-center">Actions</th>
  </tr>
  </thead>
  <tbody>
  {{#each model.store as |dev|}}
    <tr>
      <td>{{dev.identity}}</td>
      <td class="text-center">
        {{#link-to "developers.edit" dev class="ui icon circular basic button"}}
            <i class="ui edit icon"></i>
        {{/link-to}}
       <button {{action "supp" model dev}} class="ui icon circular button">
          <i class="ui icon remove"></i>
        </button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{#if model.supp}}
  <div class="container border border-info rounded">
    <p>Confirmer la suppression?</p>
    <button class="ui success button" {{action "delete" model.devTemp model}}>
      {{fa-icon "check"}}
      Valider
    </button>
    <button class="ui remove button" {{action "cancel" model}} value="Cancel">
      {{fa-icon "remove"}}
      Cancel
    </button>
  </div>
{{/if}}
{{outlet}}