{{#ui-form newValue=model.newProject  oldValue=model.oldProject validation="save" cancel="cancel" isNew=model.isNew}}
  <div>
    <label for="name">Name</label>
    {{input id="name" placeholder="Name" value=model.newProject.name}}
  </div>
  <div>
    {{textarea id="description" placeholder="Description" value=model.newProject.description}}
  </div>
  <div>
    {{multi-select selected=model.idDeveloper name="owner" placeholder="Owner" elements=model.developers selectedElements=model.newProject.owner}}
  </div>
  <div>
    <div>
      {{ui-calendar id="startDate" type="date" date=model.newProject.startDate onChange=(action (mut model.newProject.startDate)) placeholder="Select date"}}
    </div>
    <div>
      {{ui-calendar id="dueDate" startDate=model.newProject.startDate type="date" date=model.newProject.dueDate onChange=(action (mut model.newProject.dueDate)) placeholder="Select date"}}
    </div>
  </div>
{{/ui-form}}
{{outlet}}