
<form>
{{input value=model.copy.name placeholder="Name"}}<br>
  {{textarea value=model.copy.description placeholder="Description"}}<br>
  {{input value=model.copy.startDate placeholder="startDate"}}<br>
  {{input value=model.copy.dueDate placeholder="dueDate"}}<br>

  <select name="dev" class="form-control" onchange={{action "changeDevTemp" value="target.value"}}>
    <option disabled selected>Owner</option>
  {{#each model.storeDev as |devDispo|}}
    <option>{{devDispo.identity}}</option>
  {{/each}}
  </select><br>

  <button class="ui success button" {{action "save" model}}>
  {{fa-icon "check"}}
  Valider
</button>
<button class="ui remove button" {{action "cancel" model}} value="Cancel">
  {{fa-icon "remove"}}
  Cancel
</button>

</form>
{{outlet}}