<h2>Contacts</h2>
{{input value=model.filtre placeholder="Filtrer..."}}
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Email</th>
      <th scope="col" class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
  {{#each model.contacts as |contact|}}
    <tr>
      <td>{{contact.nom}}</td>
      <td>{{contact.prenom}}</td>
      <td>{{contact.email}}</td>
      <td class="text-right">
        {{#link-to "contacts.edit"}}
          <button  {{action "editContact" contact}} class="btn btn-secondary btn-sm">
          {{fa-icon "edit"}}
          </button>
        {{/link-to}}
        <button  {{action "delete" contact}} class="btn btn-danger btn-sm">
          {{fa-icon "remove"}}
        </button>
      </td>
    </tr>
  {{/each}}
    </tbody>
  </table>
{{#link-to "contacts.add" class="btn btn-primary"}}
  Ajouter un contact...
{{/link-to}}
{{#if model.deleteds}}
  {{#if model.filtre}}

  {{else}}
    <button {{action "cancelDelete" model}} type="button" class="btn btn-danger">
      Annuler les suppressions({{model.deletedsCount}}).
    </button>
  {{/if}}
{{/if}}
{{outlet}}