{{multi-select dblClick="dblClickAddToIncluded" elements=model.dispoItems selectedIds=model.dispoItemsIds_}}
{{multi-select dblClick="dblClickRemoveFromIncluded" elements=model.includedItems selectedIds=model.includedItemsIds_}}

<!--<ul>
  {{#each model.dispoItems_ as |elm|}}
    <li>{{elm.title}}</li>
  {{/each}}
</ul>-->

<input type="button" value=">" {{action "addToIncluded" model}}/>
<input type="button" value=">>" {{action "addAllToIncluded" model}}/>
<input type="button" value="<" {{action "removeFromIncluded" model}}/>
<input type="button" value="<<" {{action "removeAllFromIncluded" model}}/>


{{outlet}}